.Pokecard {
  border: 2px solid black;
  width: 200px;
  padding: 10px;
  margin: 1rem;
  box-shadow: 0px 8px 15px rgba(138, 136, 136, 0.247);
  text-align: center;
  background-color: rgb(186, 6, 241);
  border-radius: 15px;
  transition: all 0.3s ease 0s;
  color: black;
}

.Pokecard-data {
  font-size: 90%;
}

.Pokecard-title {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.Pokecard-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: rgb(186, 6, 241);
  border-radius: 3px;
  margin-bottom: 1rem;
  transition: all 0.3s ease 0s;
}

.Pokecard img {
  transition: all ease 500ms;
}

.Pokecard img:hover {
  transform: scale(1.25);
  opacity: 0.7;
}
